<!-- <ul>
  <li *ngFor="let location of locations">{{location.name}}</li>
</ul> -->
<agm-map [latitude]="mapLat" [longitude]="mapLng" [zoom]="14">  
    <div *ngFor="let location of locations" >
      <agm-marker [latitude]="location.lat" [longitude]="location.lng" [openInfoWindow]="true" [iconUrl]="getIconUrl(location.open)">
        <agm-info-window>
          <div>
            <h3>{{location.name}}</h3>
            <p *ngIf="location.open">We are open</p>
            <p [hidden]="location.open">Sorry this place is closed!</p>
          </div>
        </agm-info-window>
      </agm-marker>
    </div>
  </agm-map> 